{% extends 'base/index.html' %}
{% block title %}To do list{% endblock title %}
{% block styles %}

{% endblock styles %}

{% block content %}
<h1>Crea tu tarea</h1>
<form action="" method="post">{% csrf_token %}
    <div>
        <label for="{{form.name.id_for_label}}">{{form.name.label}}</label>
        {{form.name}}
    </div>
    <div>
        <label for="{{form.description.id_for_label}}">{{form.description.label}}</label>
        {{form.description}}
    </div>
    <div>
        <label for="{{form.important.id_for_label}}">{{form.important.label}}</label>
        {{form.important}}
    </div>
    <button>Crear tarea</button>
</form>
{% endblock content %}